__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all CSV and JSON files in data/
data/*.csv
data/*.json

# But keep these ones
!data/jobs.csv
!data/jobs.json

# Ignore all files in resume/
resume/*

# But keep PDF resumes
!resume/*.pdf
